.quiz-question {
    position: relative;
    background: var(--yellow-color);
    color: var(--brown-color);
    padding: 20px;
    border-radius: 10px;

    &__count {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--white-color);
        color: var(--green-color);
        font-weight: 500;
        font-size: 14px;
        border-radius: 5px;
        padding: 0 5px;
    }
}