.quiz-game {
    width: min(100%, 400px);
    margin: 20px auto;
    background: var(--white-color);
    border-radius: 15px;
    overflow: hidden;

    &__container {
        display: flex;
        position: relative;
        &--transition {
            transition: transform 0.3s;
        }
    }

    &__form {
        background: var(--green-color);
    }

    &__form, &__question, &__finish {
        flex: 1 0 100%;
        padding: 20px;
        color: var(--black-color)
    }
    &__btn {
        margin-top: 20px;
    }
}